body {
	background-color: #f2f2f2;
	color: #333;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

main {
	margin: 20px;
}

section {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
	margin-top: 0;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

:root {
	--primary-color: #9D00FF;
}

header, footer {
	background-color: var(--primary-color);
}

main {
	border-top: 5px solid var(--primary-color);
}

section {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	border-left: 5px solid var(--primary-color);
}
